:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

body {
  margin: 0;
  background: rgb(252, 254, 253);
  background: linear-gradient(0deg, rgba(95, 150, 180, 1) 32%, rgba(174, 222, 234, 1) 100%);
}
